extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No such item present to update
  else 
  - let id = toShow._id 
  - let flavour = toShow.flavour 
  - let manufacturerlocation = toShow.manufacturerlocation 
  - let costumesize = toShow.size 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{id} 
  - let actionid = "/resource/oreos/" + id 
  form(id='OreoForm', action= actionid, method="PUT") 
    div.form-group 
        label.costumeAttr(for='flavour') Oreo flavour 
        input#flavour(type='text', name='flavour', value= flavour ) 
    div.form-group 
        label.costumeAttr(for='manufacturerlocation') Oreo manufacturer location 
        input#size(type='text', name='manufacturerlocation', value= manufacturerlocation ) 
    div.form-group 
        label.costumeAttr(for='netweight') Oreo netweight 
        input#cost(type='number', name='netweight', value= netweight ) 
    input(type="submit") 
 
  script. 
    document.forms['OreoForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 