extends layout

block content
  h1= title

  .container-fluid 
    .row 
      each bis,key in results
        div(class="col-sm-2" onclick=`buy(${keys})`) 
            = " " +bis.flavour +  " "+bis.manufacturerlocation+" "+bis.netweight
  script.
    function buy(index){
      alert("You purchased item "+index)
    }
