extends layout 
 
block content 
  h1= title 
 
  form(id='OreoForm', action="/resource/oreos", method="POST") 
    div.form-group 
        label.costumeAttr(for='flavour') Oreo Flavour 
        input#flavour(type='text', name='flavour') 
    div.form-group 
        label.costumeAttr(for='manufacturerlocation') Oreo manufacturerlocation 
        input#manufacturerlocation(type='text', name='manufacturerlocation') 
    div.form-group 
        label.costumeAttr(for='netweight') Oreo netweight 
        input#netweight(type='number', name='netweight') 
    input(type="submit") 
 
  script. 
    document.forms['OreoForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 