body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.costumeAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 

.oreobox{
  border:1px solid black;
  margin: 10px;
  padding:30px 30px 20px 30px;
  color: white;
}

.oreobox:nth-child(odd){
  background-color: blueviolet;
}

.oreobox:nth-child(even){
  background-color:crimson;
}

